body{
	background-color: rgb(74,74,74);
	margin: 0px;
	padding: 0px;
}
header{
	color: rgb(255,255,255);
	font-size: 2vw;
	text-align: center;
}
#conteiner{	
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 100%;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}
p{
	color: white;
	font-size: 2vw;
	text-align: center;
}
img{
	align-items: center;
	
	align-self: center;
}	