body{
	background-color: rgb(74,74,74);
}
header{
	color: rgb(255,255,255);
	font-size: 2vw;
	text-align: center;
}
/*Área que contém toda a tela*/
#conteiner{	
	display: flex;
	width: 95vw;
	height: 45vw;
	background-color: rgb(0,118,168);
	margin-left: auto;
	margin-right: auto;
}
/*Tela de fundo*/
#tela_principal{	
	width: 95vw;
	height: 45vw;	
}
.menu{/*Botões do menu*/    
    background-color: rgb(100,100,100);
    border: 0.3vw outset rgb(150,150,150);
    width: 8vw;
    height: 2vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;
    box-shadow: .5px .5px 4px 1px blue,-0.5px -0.5px 4px 1px blue;
    text-align: center; 
    cursor: pointer;        
}
#btn_producao{
    position: absolute;
    margin-left: 1vw;
    margin-top:0.7vw;
}
#btn_receita{
    position: absolute;
    margin-left: 10vw;
    margin-top: 0.7vw;
}
#btn_manut{
    position: absolute;
    margin-left: 19vw;
    margin-top: 0.7vw;
}
#modal_receitas{  
    display: none;   
    position: absolute;
    background-color: white;
    width: 14vw;
    height: 12vw;
    margin-left: 8vw;
    margin-top: 5vw;
    border: 0.3vw solid rgb(100,100,100);
    cursor: pointer;
    font-size: 1vw;
}#modal_receitas span{
    float: right;
    background-color: gray;
    width: 1.8vw;
    height: 1.8vw;
    text-align: center;
    line-height: 1.8vw;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}
#receita_enviar{ 
    position: relative;   
    background-color: rgb(100,100,100);
    border: 0.3vw outset rgb(150,150,150);
    color: white;
    font-weight: bold;
    width: 4vw;
    height: 2vw;
    text-align: center; 
    font-size: 1vw;
    cursor: pointer;   
}
[type="radio"]{
    width: 1vw;
    height: 1vw;
}


/*Tubulações SI*/
#tub_SI_mist_01{
    display: none;
    position: absolute;
    margin-left: 19.25vw;
    margin-top: 41.8vw;
    height: 0.5vw;
    width: 4.8vw;
}
#tub_SI_mist_02{
    display: none;
    position: absolute;    
    margin-left: 19.3vw;
    margin-top: 15.52vw;
    height: 26.3vw;
    width: 0.5vw;   
}
#tub_SI_mist_03{
    display: none;
    position: absolute;    
    margin-left: 19.8vw;
    margin-top: 15.5vw;
    height: 0.5vw;
    width: 27vw;   
}
#tub_SI_mist_031{
    display: none;
    position: absolute;    
    margin-left: 47.8vw;
    margin-top: 15.5vw;
    height: 0.5vw;
    width: 14.5vw;   
}
#tub_SI_mist_032{
    display: none;
    position: absolute;    
    margin-left: 63.2vw;
    margin-top: 15.5vw;
    height: 0.5vw;
    width: 12.66vw;   
}
#tub_SI_mist_034{
    display: none;
    position: absolute;    
    margin-left: 44.7vw;
    margin-top: 15.5vw;
    height: 1.1vw;
    width: 0.6vw;
}
#tub_SI_mist_035{
    display: none;
    position: absolute;    
    margin-left: 60vw;
    margin-top: 15.5vw;
    height: 1.1vw;
    width: 0.6vw;  
}
#tub_SI_mist_036{
    display: none;
    position: absolute;    
    margin-left: 75.3vw;
    margin-top: 15.5vw;
    height: 1.2vw;
    width: 0.6vw;  
}

#tub_TranspVert1{/*Saída do transportador*/
    display: none;
    position: absolute;    
    margin-left: 13.4vw;
    margin-top: 40.42vw;
    height: 1.82vw;
    width: 1vw;  
}
#tub_TranspVert2{/*Subida para o terceiro piso*/
    display: none;
    position: absolute;    
    margin-left: 5.1vw;
    margin-top: 3.2vw;
    height: 39vw;
    width: 1vw;  
}
#tub_TranspVert3{/*Entrada do Pulmão-1*/
    display: none;
    position: absolute;    
    margin-left: 46.9vw;
    margin-top: 3.9vw;
    height: 1.3vw;
    width: 1vw;  
}
#tub_TranspVert4{/*Entrada do Pulmão-2*/
    display: none;
    position: absolute;    
    margin-left: 62.2vw;
    margin-top: 3.9vw;
    height: 1.3vw;
    width: 1vw;  
}
#tub_TranspVert5{/*Entrada do Pulmão-3*/
    display: none;
    position: absolute;    
    margin-left: 77.36vw;
    margin-top: 3.86vw;
    height: 1.3vw;
    width: 1vw;  
}
#tub_TranspVert6{/*Pulmão-1 para xv-011*/
    display: none;
    position: absolute;    
    margin-left: 46.9vw;
    margin-top: 12.96vw;
    height: 4vw;
    width: 1vw;  
}
#tub_TranspVert7{/*Pulmão-2 para xv-022*/
    display: none;
    position: absolute;    
    margin-left: 62.2vw;
    margin-top: 12.96vw;
    height: 4vw;
    width: 1vw;  
}
#tub_TranspVert8{/*Pulmão-3 para xv-022*/
    display: none;
    position: absolute;    
    margin-left: 77.36vw;
    margin-top: 12.92vw;
    height: 4.1vw;
    width: 1vw;  
}
#tub_TranspVert9{/*xv-011 para misturador-1*/
    display: none;
    position: absolute;    
    margin-left: 46.9vw;
    margin-top: 17.65vw;
    height: 1.12vw;
    width: 1vw;  
}
#tub_TranspVert10{/*xv-022 para misturador-2*/
    display: none;
    position: absolute;    
    margin-left: 62.2vw;
    margin-top: 17.65vw;
    height: 1.12vw;
    width: 1vw;  
}
#tub_TranspVert11{/*xv-033 para misturador-3*/
    display: none;
    position: absolute;    
    margin-left: 77.36vw;
    margin-top: 17.65vw;
    height: 1.12vw;
    width: 1vw;  
}
#tub_ProdutoEnv1{/*misturador-1 para env-01*/
    display: none;
    position: absolute;    
    margin-left: 46.9vw;
    margin-top: 24.1vw;
    height: 5.6vw;
    width: 1vw;  
}
#tub_ProdutoEnv2{/*misturador-2 para env-02*/
    display: none;
    position: absolute;    
    margin-left: 62.2vw;
    margin-top: 24.1vw;
    height: 5.6vw;
    width: 1vw;  
}
#tub_ProdutoEnv3{/*misturador-3 para env-03*/
    display: none;
    position: absolute;    
    margin-left: 77.5vw;
    margin-top: 24.1vw;
    height: 5.6vw;
    width: 1vw;  
}

#tub_TranspHoriz1{/*Saída do transportador de sal*/
    display: none;
    position: absolute;    
    margin-left: 6.1vw;
    margin-top: 41.6vw;
    height: 0.6vw;
    width: 7.3vw;  
}
#tub_TranspHoriz2{/*Abastecimento dos pulmões no terceiro piso*/
    display: none;
    position: absolute;    
    margin-left: 5.1vw;
    margin-top: 3.1vw;
    height: 0.8vw;
    width: 73.26vw;  
}

/*imagem do motores verticais*/
.motorVertical{    
    width: 2.5vw;
    height: 1.6vw;
}
#mt01Acionado{/*motor mexedor SI*/
    display: none;
    margin-top: -0.5vw;
    margin-left: 0.2vw;
}

/*imagem dos motores horizontais*/
.motorHoriz{    
    width: 2.3vw;
    height: 1.2vw;
}
#mt02Acionado{/*motor bomba de SI*/
    display: none;
    width: 2.4vw;
    margin-top: 0.2vw;
    margin-left: -0.2vw;
}
#mt03Acionado{/*motor misturador 1*/
    display: none;
    height: 1.8vw;
    margin-top: -0.4vw;
    margin-left: -0.2vw;
}
#mt04Acionado{/*motor misturador 2*/
    display: none;
    height: 1.8vw;
    margin-top: -0.4vw;
    margin-left: -0.2vw;
}
#mt05Acionado{/*motor misturador 3*/
    display: none;
    height: 1.8vw;
    margin-top: -0.4vw;
    margin-left: -0.2vw;
}

/*Configuração do botão de chamada dos displays dos motores e válvulas*/
.motor{
    display: flex;
    justify-content: space-around;
    align-items: center;
	width: 2vw;
	height: 2vw;
	background-color: transparent;
	border:0.1vw solid transparent;
	position: absolute;
	cursor: pointer;	
}

/*Configuração do conteiner display motores e válvulas*/
.display_motor{
	display: flex;
	flex-wrap: wrap;
	width: 8.6vw;
	height: 9vw;
	background-color:rgb(255,128,0);	
	position: absolute;
	justify-content: space-around;
	align-items: center;
	padding: 0.2vw;	
}
/*Posição dos displays dos motores*/
#display_mt01{/*mexedor SI*/
    display:none;
    margin-left: 20.7vw;
    margin-top: 20vw;
}
#display_mt02{/*bomba SI*/
    display:none;
    margin-left: 37.7vw;
    margin-top: 34.5vw;
}
#display_mt03{/*misturador-1*/
    display:none;
    margin-left: 36.7vw;
    margin-top: 25.5vw;
}
#display_mt04{/*misturador-2*/
    display:none;
    margin-left: 53.6vw;
    margin-top: 25.5vw;
}
#display_mt05{/*misturador-3*/
    display:none;
    margin-left: 69vw;
    margin-top: 25.5vw;
}

/*Posição dos botões de chamada do display de controle dos motores*/
#mt_01{/*motor mexedor tq. SI*/
	margin-left: 28.7vw;	
	margin-top: 30vw;
}
#mt_02{/*motor da bomba de SI*/
	margin-left: 31.2vw;	
	margin-top: 40.8vw;
}
#mt_03{/*motor do misturador-1*/
    margin-left: 40.3vw;    
    margin-top: 23vw;
}
#mt_04{/*motor do misturador-2*/
    margin-left: 55.5vw;    
    margin-top: 23vw;
}
#mt_05{/*motor do misturador-3*/
    margin-left: 70.8vw;    
    margin-top: 23vw;
}


/*Configuração do campo identificação e botão close do display motor e valvula*/
.display_ident{      
    width: 7.6vw;
    height: 2vw;
    background-color: rgb(55,55,55);
    border:0.4vw inset black;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;    
    display: flex;
    justify-content: space-between;
	align-items: center;    
}
.display_btnClose{
    background-color: gray;
    border: 0.2vw outset gray;
    width: 2vw;
    height: 2vw;
    font-weight: bold;
    color: white; 
    font-size: 1vw;
    text-align: center;          
}
/*Layout dos botões do display de controle dos motores*/
.motor_btnLiga{
    background-color: rgb(55,55,55);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white; 
    font-size: 1vw; 
    text-align: left;  
}
.motor_btnDesl{
    background-color: rgb(55,55,55);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;         
}
.motor_btnAuto{
    background-color: rgb(100,100,100);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;         
}
.motor_btnMan{
    background-color: rgb(100,100,100);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw;
    text-align: left;    
}

/************************************* Válvulas ************************************************/

.display_valv{
    display: flex;
    flex-wrap: wrap;
    width: 8.6vw;
    height: 9vw;
    background-color:rgb(255,128,0);    
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 0.2vw; 
}
.valvula{/*Botão de chamada de válvula*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 2.5vw;
    height: 2vw;
    background-color: transparent;
    border:0.1vw solid transparent;
    position: absolute;
    cursor: pointer;    
}
/*imagens das válvulas acionadas*/
.valve{ /*??????????????????? mesma motorHoriz e vertical*/   
    width: 2.3vw;
    height: 1.2vw;
}
#xv01Acionada{/*valvula SI misturador 1*/
    display: none;
    height: 1vw;
    width: 0.92vw;  
    margin-top: -0.41vw;
    margin-left: -1.34vw;
}
#xv02Acionada{/*valvula SI misturador 2*/
    display: none;
    height: 1vw;
    width: 0.92vw;
    margin-top: -0.41vw;
    margin-left: -1.34vw;
}
#xv03Acionada{/*valvula SI misturador 3*/
    display: none;
    height: 1vw;
    width: 0.92vw;
    margin-top: -0.41vw;
    margin-left: -1.34vw;
}
#xv011Acionada{/*valvula Sal misturador 1*/
    display: none;
    width: 1.44vw;
    height: 1.1vw;    
    margin-top: 0vw;
    margin-left: 1.6vw;
}
#xv022Acionada{/*valvula Sal misturador 2*/
    display: none;
    width: 1.44vw;
    height: 1.1vw;    
    margin-top: 0vw;
    margin-left: 1.6vw;
}
#xv033Acionada{/*valvula Sal misturador 3*/
    display: none;
    width: 1.44vw;
    height: 1.1vw;    
    margin-top: 0vw;
    margin-left: 1.6vw;
}
#xv101Acionada{/*valvula Sal Pulmão-1*/
    display: none;
    width: 1.42vw;
    height: 1.1vw;    
    margin-top: 0vw;
    margin-left: 1.6vw;
}
#xv102Acionada{/*valvula Sal Pulmão-2*/
    display: none;
    width: 1.42vw;
    height: 1.1vw;    
    margin-top: 0vw;
    margin-left: 1.6vw;
}
#xv103Acionada{/*valvula Sal Pulmão-3*/
    display: none;
    width: 1.4vw;
    height: 1.1vw;    
    margin-top: -0.1vw;
    margin-left: 1.6vw;
}
#xv100Acionada{/*valvula Inlet*/
    display: none;    
    height: 0.94vw;    
    margin-top: 0vw;
    margin-left: 2.7vw;
}
#xv110Acionada{/*valvula Alivio*/
    display: none;
    width: 0.76vw;    
    height: 0.76vw;    
    margin-top: -0.7vw;
    margin-left: 0vw;
}

/*Posição dos displays das válvulas*/
#display_xv01{/*misturador-1 SI*/
    display: none;
    margin-left: 33vw;
    margin-top: 10.5vw;
}
#display_xv02{/*misturador-2 SI*/
    display: none;
    margin-left: 49.5vw;
    margin-top: 10.5vw;
}
#display_xv03{/*misturador-3 SI*/
    display: none;
    margin-left: 65vw;
    margin-top: 10.5vw;
}
#display_xv011{/*misturador-1 Sal*/
    display: none;
    margin-left: 33vw;
    margin-top: 0.7vw;
}
#display_xv022{/*misturador-2 Sal*/
    display: none;
    margin-left: 22vw;
    margin-top: 10.5vw;
}
#display_xv033{/*misturador-3 Sal*/
    display: none;
    margin-left: 83vw;
    margin-top: 15.5vw;
}
#display_xv101{/*Pulmão-1 Sal*/
    display: none;
    margin-left: 52vw;
    margin-top: 0.7vw;
}
#display_xv102{/*Pulmão-2 Sal*/
    display: none;
    margin-left: 67.6vw;
    margin-top: 0.7vw;
}
#display_xv103{/*Pulmão-3 Sal*/
    display: none;
    margin-left: 85.5vw;
    margin-top: 0.7vw;
}
#display_xv100{/*Inlet*/
    display: none;
    margin-left: 10vw;
    margin-top: 18vw;
}
#display_xv110{/*Alivio*/
    display: none;
    margin-left: 10vw;
    margin-top: 8vw;
}


/*Posição dos botões de chamada do display de controle das válvulas*/
#xv_01{/*válvula de SI mist-01*/
    margin-left: 43.2vw;    
    margin-top: 16.2vw;
}
#xv_02{/*válvula de SI mist-02*/
    margin-left: 58.44vw;    
    margin-top: 16.2vw;
}
#xv_03{/*válvula de SI mist-03*/
    margin-left: 73.8vw;    
    margin-top: 16.2vw;
}
#xv_011{/*válvula de Sal mist-01*/    
    width:3.5vw;
    margin-left: 46.5vw;    
    margin-top: 16.3vw;
}
#xv_022{/*válvula de Sal mist-02*/    
    width:3.5vw;
    margin-left: 61.8vw;    
    margin-top: 16.3vw;
}
#xv_033{/*válvula de Sal mist-03*/    
    width:3.5vw;
    margin-left: 77vw;    
    margin-top: 16.3vw;
}
#xv_101{/*válvula de Sal Pulmão-1*/    
    width:3.5vw;
    margin-left: 46.54vw;    
    margin-top: 4.45vw;
}
#xv_102{/*válvula de Sal Pulmão-2*/    
    width:3.5vw;
    margin-left: 61.8vw;    
    margin-top: 4.45vw;
}
#xv_103{/*válvula de Sal Pulmão-3*/    
    width:3.5vw;
    margin-left: 77vw;    
    margin-top: 4.45vw;
}
#xv_100{/*válvula Inlet*/    
    width:6vw;
    height: 1.5vw;    
    margin-left: 12.6vw;    
    margin-top: 32.16vw;
}
#xv_110{/*válvula Alivio*/    
    width:1.4vw;
    height: 2.6vw;    
    margin-left: 17.6vw;    
    margin-top: 34.2vw;
}

/*Layout dos botões do display de controle das válvulas*/
.valv_btnAbre{
    background-color: rgb(55,55,55);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white; 
    font-size: 1vw; 
    text-align: left;  
}
.valv_btnFecha{
    background-color: rgb(55,55,55);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;         
}
.valv_btnAuto{
    background-color: rgb(100,100,100);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;         
}
.valv_btnMan{
    background-color: rgb(100,100,100);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw;
    text-align: left;    
}


/************** Controle Tq. SI *********************/
#LTSI{/*Indicador nível tq. SI*/
    position: absolute;   
    height: 7vw;
    width: 0.7vw;
    background-color: green;
    border: 0.1vw solid black;
    margin-left: 32vw; 
    margin-top: 32.5vw
}
#SIBarraNivel{/*Barra nível tq. SI*/
    position: absolute;   
    height: 0vw;
    width: 0.7vw;
    background-color: rgb(200,200,200);    
    margin-left: 0vw;
    margin-top: 0vw
}

.DisplayControl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 4vw;
    height: 1.5vw;
    background-color: gray;
    border:0.1vw solid white;
    position: absolute;
    cursor: pointer; 
    font-size: 0.8vw;    
    font-weight: bold;   
}
.display_controle{
    display: flex;
    flex-wrap: wrap;
    width: 8.6vw;
    height: 8vw;
    background-color:rgb(255,128,0);    
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 0.2vw; 
}
.buttonControl{/*Botões Display Controle tq. SI*/    
    background-color: rgb(100,100,100);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;         
}

#display_TqSI{/*display controle tq. SI*/
    display: none;
    margin-left: 30vw;
    margin-top: 20.5vw;
}
#controlTqSI{/*botão de chamada do display controle Tq. SI*/
    margin-left: 27.8vw;    
    margin-top: 36vw;
}
#setNivelSI{/*Input de setpoint nivel Tq. SI*/
    width: 3vw;
    height: 1.2vw;   
}
label{/*Input de setpoint nivel Tq. SI*/    
    font-size: 1.2vw;
    font-weight: bold; 
    color: black;  
}
#SISetEnviar{
    width: 3vw;
}

/************** Controle Transportador Sal *********************/

.DisplayControl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 4vw;
    height: 1.5vw;
    background-color: gray;
    border:0.1vw solid white;
    position: absolute;
    cursor: pointer; 
    font-size: 0.8vw;    
    font-weight: bold;   
}
.display_controle{
    display: flex;
    flex-wrap: wrap;
    width: 8.6vw;
    height: 8vw;
    background-color:rgb(255,128,0);    
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 0.2vw; 
}
.buttonControl{/*Botões Display Controle tq. SI*/    
    background-color: rgb(100,100,100);
    border: 0.4vw outset gray;
    width: 4vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-size: 1vw; 
    text-align: left;         
}

#display_Transp{/*display controle transportador*/
    display: none;
    margin-left: 20vw;
    margin-top: 10.5vw;
}
#controlTransp{/*botão de chamada do display controle transportador*/
    margin-left: 12vw;    
    margin-top: 36vw;
}
#setPressao{/*Input de setpoint pressão transportador*/
    width: 2.5vw;
    height: 1.2vw;   
}
label{/*Input de setpoint pressão transportador*/    
    font-size: 1.2vw;
    font-weight: bold; 
    color: black;  
}
#TranspSetEnviar{
    width: 3vw;
}
#Pt100{/*Indicação de pressão do transportador de sal*/
    position: absolute;
    width: 2.2vw;
    height: 1vw;
    background-color: white;
    border:0.2vw solid black;
    margin-top: 34.4vw;
    margin-left: 10.3vw;
    font-size: 0.8vw;
    font-weight: bold;
}
#lsh100{/*Chave nível do transportador de sal*/
    display: none;
    position: absolute;
    width: 0.7vw;
    height: 0.7vw;
    margin-left: 11.1vw;
    margin-top: 33vw;
}
#lsh101{/*Chave nível do pumão-1 sal*/
    display: none;
    position: absolute;
    width: 0.8vw;
    height: 0.52vw;
    margin-left: 51.1vw;
    margin-top: 6.49vw;
}
#lsh102{/*Chave nível do pumão-2 sal*/
    display: none;
    position: absolute;
    width: 0.8vw;
    height: 0.52vw;
    margin-left: 66.46vw;
    margin-top: 6.49vw;
}
#lsh103{/*Chave nível do pumão-3 sal*/
    display: none;
    position: absolute;
    width: 0.8vw;
    height: 0.52vw;
    margin-left: 81.58vw;
    margin-top: 6.46vw;
}
/************************** Botões Habil./Desab. Tanques Pulmão **********************/
.btnHabDesab{
    background-color: rgb(100,100,100);
    border: 0.2vw outset gray;
    width: 3.2vw;
    height: 1.8vw;
    font-weight: bold;
    color: white;
    font-size: 0.8vw; 
    text-align: left;
    padding: 0.1vw         
}

#pulmao1Hab{
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 44vw;
}
#pulmao1Desab{
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 47.6vw;
}
#pulmao2Hab{
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 59.3vw;
}
#pulmao2Desab{
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 62.9vw;
}
#pulmao3Hab{
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 74.5vw;
}
#pulmao3Desab{
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 78.1vw;
}
/************************** Botões Auto/Man Misturadores **********************/

.btnAutoMan{
    background-color: rgb(100,100,100);
    border: 0.2vw outset gray;
    width: 3.2vw;
    height: 1.8vw;
    font-weight: bold;
    color: white;
    font-size: 0.8vw; 
    text-align: center;
    padding: 0.1vw         
}

#mist1Auto{
    position: absolute;
    margin-top: 20vw;
    margin-left: 43.9vw;
}
#mist1Man{
    position: absolute;
    margin-top: 20vw;
    margin-left: 47.7vw;
}
#mist2Auto{
    position: absolute;
    margin-top: 20vw;
    margin-left: 59.2vw;
}
#mist2Man{
    position: absolute;
    margin-top: 20vw;
    margin-left: 62.9vw;
}
#mist3Auto{
    position: absolute;
    margin-top: 20vw;
    margin-left: 74.5vw;
}
#mist3Man{
    position: absolute;
    margin-top: 20vw;
    margin-left: 78.26vw;
}

.WIT{/*Indicadores de peso dos misturadores*/
    position: absolute;
    width: 2.2vw;
    height: 1vw;
    background-color: white;
    border:0.2vw solid black;    
    font-size: 0.8vw;
    font-weight: bold;
}
#WIT_01{   
    position: absolute;
    margin-top: 23.7vw;
    margin-left: 48.5vw;
}
#WIT_02{   
    position: absolute;
    margin-top: 23.7vw;
    margin-left: 63.8vw;
}
#WIT_03{   
    position: absolute;
    margin-top:23.7vw;
    margin-left: 79vw;
}